In [3]:
import nltk
#nltk.download()
import pandas as pd
import numpy as np
from nltk.corpus import stopwords

In [4]:
df = pd.read_csv('reviews_scrape.csv')
df.head()

   userId  movieId                                             review
0       0      599  I was waiting for the movie for along time and...
1       0      368  I won't go into detail about this film, becaus...
2       0      757  Vikrant Massey nails in Aditya character Jacky...
3       0       48  The whole cinema went crazy laughing.\nIt's ex...
4       0      530  Woah!!! this one is surely one heck of a ride....

In [5]:
from sklearn import preprocessing

In [ ]:
sw=stopwords.words('english')				# extracting common words like 'a','the' in english
sw=[x.encode("utf-8") for x in sw]			# converting sw to utf-8 encoding

nw=np.loadtxt('negative-words.txt',dtype=str)		# extracting negative words from txt file
pw = np.loadtxt('positive-words.txt',dtype=str)     # extracting positive words from txt file

posts = df['review']
negative = []
positive = []
total = []
for i in range(0,len(posts)):
    ncount = 0
    pcount = 0
    count = 0
    p = posts[i].split()
    p=[w for w in p if w.lower() not in sw]			# removing stopwords from the post
    count = len(p)
    neg=[w for w in p if w.lower() in nw]
    ncount = len(neg)
    negative.append(ncount)
    pos = [w for w in p if w.lower() in pw]
    pcount = len(pos)
    positive.append(pcount)
tot = np.array(positive)-np.array(negative)

norm_tot = np.squeeze(preprocessing.normalize([tot])*10) 
for i in range(0,len(norm_tot)):
    norm_tot[i] = round(norm_tot[i],1)
print(norm_tot[7])

In [ ]:
#print(negative,'\n',positive)
tot

In [72]:

'''norm_pos = np.squeeze(preprocessing.normalize([positive])*10) 
for i in range(0,len(norm_pos)):
    norm_pos[i] = round(norm_pos[i],1)
print(norm_pos)

norm_neg = np.squeeze(preprocessing.normalize([negative])*10) 
for i in range(0,len(norm_neg)):
    norm_neg[i] = round(norm_neg[i],1)
print(norm_neg)'''

[8.3 5.5]
[7.8 6.2]

In [112]:
df['score'] = tot
df.loc[:15,:]
df1 = df.loc[:,['userId','movieId','score']]
df1.head()

   userId  movieId  score
0       0      599     10
1       0      368      6
2       0      757      0
3       0       48     -3
4       0      530     -1

In [113]:
df1.to_csv('scrape_review_score.csv', index=False)

In [92]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = MinMaxScaler(copy=True, feature_range=(0, 10))
print(scaler.fit(data))
#MinMaxScaler(copy=True, feature_range=(0, 100))
print(scaler.transform(data))

MinMaxScaler(copy=True, feature_range=(0, 10))
[[ 0.   0. ]
 [ 2.5  2.5]
 [ 5.   5. ]
 [10.  10. ]]

In [100]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(copy=True, feature_range=(0, 10))
scaler.fit([tot])
print(scaler.transform([tot]))
data = scaler.transform([tot])

[[0. 0. 0. ... 0. 0. 0.]]

0.0